ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

span{
    display: flex;
    padding: 0px;
    margin: 0px;
    color: #efb810;
    justify-content: center;
    background-color: black;
}

body{
    margin: 0px;
    padding: 0px;
    background: url(/src/media/images/fondo.jpg);
    font-family:'Libre Baskerville', serif ;
}

.colorFont{
    color: #efb810;
    font-size: x-large;
}

.navBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.911);
    border-bottom: 1px solid #efb810;
    box-shadow: 1px 3px black;
}

.navBar > li{
    display: flex;
    align-items: center;
}

.logo{
    width: 45px;
    border-radius: 50%;
    
}

.button{
    background-color: black;
    color: #efb810;
    border: 0px;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: bolder;
}

.mainButton:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.mainButton{
    box-shadow: 1.5px 1.5px 2px #efb810;
}

.flexConteinerForm{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.938);
    margin: 30px 480px 0px 480px;
    padding: 0px 40px 40px 40px;
    border-radius: 10px;
    position: relative;
    right: 30%;
    border: 1px solid #efb810;
}

.flexContainerTable{
    display: flex;
    border: 1px solid #efb810;
    border-radius: 10px;
    margin: 30px;
    width: 740px;
    position: absolute;
    left: 36%;
    top: 80px;
}

.table{
    background-color: rgba(0, 0, 0, 0.911);
    border-radius: 10px;
}

.td{
    padding: 4px 0px 4px 0px;
    color: white;
    background-color: rgba(0, 139, 139, 0.363);
    border-radius: 7px;
    text-align: center;
}

.th{
    color: white;
    background-color: rgba(220, 20, 60, 0.363);
}

.caption{
    color: white;
    background-color: rgba(0, 0, 0, 0.911);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #efb810;
}
.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.inputs{
    padding: 8px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: medium;
}

.buttonFormContainer{
    display: flex;
    justify-content: space-around;
}

.buttonForm{
    background-color: rgb(248, 234, 31);
    width: 85px;
    height: 35px;
    margin-top: 7px;
    border-radius: 10px;
}
.titulosH1{
    color: red;
}

.titulosH2{
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

