/*
Quita estilo a las lista
*/
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

h2{
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background: url(/assets/images/1.jpg);
    font-family:'Libre Baskerville', serif ;
}

.colorFont{
    color: #efb810;
    font-size: x-large;
}

.navBar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.911);
    border-bottom: 1px solid #efb810;
    box-shadow: 1px 3px black;
}

.navBar > li{
    display: flex;
    align-items: center;
}

.logo{
    width: 45px;
    border-radius: 50%;
    
}

.button{
    background-color: black;
    color: #efb810;
    border: 0px;
    padding: 8px 18px;
    border-radius: 10px;
    font-weight: bolder;
}

.mainButton:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.mainButton{
    box-shadow: 1.5px 1.5px #efb810;
}


